* { margin:0; -webkit-user-select: none; }
body { font-family: Arial, sans-serif; background: url(../img/gallerybg.jpg); margin: 0; padding: 30px; overflow-x: hidden; }
h1 { margin: 10px 0; color: #fff; text-shadow: 1px 1px 1px #333; font-size: 40px; }
.clear-float { float: none; clear:both; }
.button { background: #ccc; color: #666; z-index: 20; padding: 8px 12px 9px 12px; -webkit-box-shadow: 0px 1px 1px #333; display: inline-block; text-decoration: none; }
.back { margin: 0 0 10px 0; }

.draws { margin: 0; padding: 0; }
.draws li { list-style: none; float: left; margin: 0 8px 10px 0; }
.draws li a { width: auto; height: auto; display: block; background: #fff; -webkit-box-shadow: 1px 1px 4px #333; }