.gallery-header
  %a{ href: "/" }
    %i{ class: "icon-arrow-left icon-white" }
    Create your own drawing

%ul.drawings
  - @drawings.each do |drawing|
    %li
      %img{ src: drawing.url(authenticated: false), width: 220, class: "rounded" }
      
:javascript
  $(function(){
    $(".standalone-overlay").remove();
    $(".rotate-overlay").remove();
  });
  