.wrapper.rounded
  
  .canvas-wrapper.shadow.rounded
    %canvas.rounded{ id: "canvas-drawing", width: 980, height: 600 }
  
  %ul.buttons
    %li
      %a{ class: "clear-drawing circle" } Clear All
    %li
      %a{ class: "save-image-button circle" } Save
    %li
      %a{ class: "drawings-gallery circle", href: "/drawings" } Other Drawings

  %ul.colors
    %li
      %a{ class: "white circle animated", data: {color: "#ffffff"} } White
    %li
      %a{ class: "black circle animated", data: {color: "#333333"} } Black
    %li
      %a{ class: "blue circle animated", data: {color: "#66afec"} } Blue
    %li
      %a{ class: "red circle animated", data: {color: "#bb1d1d"} } Red
    %li
      %a{ class: "green circle animated active", data: {color: "#91c91d"} } Green
    %li
      %a{ class: "yellow circle animated", data: {color: "#ffbc00"} } Yellow
    
  %ul.pencils
    %li
      %a{ class: "small circle active", data: { size: 15} } Small
    %li
      %a{ class: "normal circle", data: { size: 30} } Normal
    %li
      %a{ class: "big circle", data: { size: 45} } Big