.wrapper
  .canvas-wrapper.shadow
    %canvas{ id: "canvas-drawing", width: 980, height: 600 }
  
%ul.buttons
  %li
    %a{ class: "clear-drawing" } Reset
  %li
    %a{ class: "save-image-button" } Save
  %li
    %a{ class: "drawings-gallery" } Gallery

%ul.colors
  %li{ class: "white", data: {color: "#ffffff"} }
    Eraser
  %li{ class: "blue", data: {color: "#66afec"} }
    Blue
  %li{ class: "red", data: {color: "#bb1d1d"} }
    Red
  %li{ class: "green active", data: {color: "#91c91d"} }
    Green
  %li{ class: "yellow", data: {color: "#ffbc00"} }
    Yellow
  %li{ class: "black", data: {color: "#333333"} }
    Black
    
%ul.pencils
  %li{ class: "small active", data: { size: 15} }
    Small
  %li{ class: "big", data: { size: 30} }
    Large