@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  background: url(../images/background.jpg) #fff no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.shadow {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.wrapper {
  width: 980px;
  height: 600px;
  margin: 20px auto 0;
  position: relative;
  display: none;
}

.canvas-wrapper {
  overflow: hidden;
  width: 980px;
  height: 600px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#canvas-drawing {
  width: 980px;
  height: 600px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 768px;
  height: 1004px;
  display: none;
}

.overlay .rotate-message {
  position: absolute;
  display: block;
  background: #fff;
  width: 250px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -100px;
  text-align: center;
  color: #666;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.overlay .rotate-message img { margin:30px 0 10px 0; }

@media (max-width:900px) {
  .overlay {
    display: block;
  }
}

.standalone-message {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 120px;
  background: #fff;
  color: #666;
  margin-left: -125px;
  margin-top: -60px;
  display: none;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.standalone-message h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 0;
}
.standalone-message h2 strong {
  color: #562a2a;
}


.colors {
  position: absolute;
  left: 70px;
  bottom: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}
.colors li {
  position: relative;
  display: block;
  float: right;
  width: 77px;
  height: 112px;
  background: url(../images/colors-pencils.png) transparent no-repeat 0 40px;
  text-indent: -2000px;
  margin-right: 10px;
  -webkit-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -moz-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -o-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
}

.colors li.active.black { background-position: 0 0;}
.colors li.blue { background-position: -266px 40px; }
.colors li.active.blue { background-position: -266px 0; }
.colors li.red { background-position: -178px 40px; }
.colors li.active.red { background-position: -178px 0; }
.colors li.green { background-position: -356px 40px; }
.colors li.active.green { background-position: -356px 0; }
.colors li.yellow { background-position: -89px 40px; }
.colors li.active.yellow { background-position: -89px 0; }
.colors li.white { background-position: -445px 40px; }
.colors li.active.white { background-position: -445px 0; }

.pencils {
  position: absolute;
  left: 555px;
  bottom: 45px;
  margin: 0;
  list-style: none;
  display: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.1);
}

.pencils li {
  display: block;
  float: left;
  height: 40px;
  text-align: center;
  line-height: 42px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  text-transform: uppercase;
}

.pencils li:first-child {
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.pencils li:last-child {
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 0;
}

.pencils li.active {
  background: rgba(0, 0, 0, 0.46);
}

.buttons {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  position: absolute;
  right: 74px;
  bottom: 45px;
}

.buttons li {
  display: block;
  float: left;
  margin-left: 20px;
}

.buttons li a {
  display: block;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
}

.buttons li a:hover {
  background: rgba(0, 0, 0, 0.46);
}


.loading-overlay {
  width: 1024px;
  height: 748px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 748px;
  font-size: 30px;
  color: #666;
  display: none;
}

body.only-standalone .canvas-wrapper { display: none; }
body.only-standalone .standalone-message { display: block; }

.drawings {
  list-style: none;
  padding: 0;
  margin: 10px;
}
.drawings li {
  display: block;
  float: left;
  margin: 10px;
}

.relative-buttons {
  display: block;
  margin: 20px;
}
.relative-buttons a {
  display: inline-block;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
}