@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  background: #333;
}

.wood-brackground {
  background: url(../images/background.jpg) #fff no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.shadow {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.standalone-overlay {display:block; position:absolute; left:50%; top:50%; margin-left:-200px; margin-top:-100px; width:400px; height:200px; text-align:center; background:#fff;}
.standalone-overlay h2 {font-size:30px; display:block; text-align:center; margin:30px 0 10px;}
.rotate-overlay {display:block; position:absolute; left:50%; top:50%; margin-left:-100px; margin-top:-80px; width:200px; height:160px; display:none; background:#fff; text-align:center;}
.rotate-overlay img {margin:30px 0 5px;}

.wrapper {width:980px; height:748px; margin:20px auto 0; position:relative; display:none;}
.wrapper .canvas-wrapper {overflow:hidden; width:980px; height:600px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.wrapper .canvas-wrapper #canvas-drawing {width:980px; height:600px;}

.wrapper > ul {margin:0; padding:0; display:block; float:left;}
.wrapper > ul > li {display:block; float:left;}


body.standalone.ipad-device.horizontal .wrapper {display:block;}
body.standalone.ipad-device .standalone-overlay {display:none;}

body.standalone.ipad-device .rotate-overlay {display:block;}
body.standalone.ipad-device.horizontal .rotate-overlay {display:none;}